*{
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    background-color:  beige;
    font-size: 18;
}
.content {
    margin-top: 5%;
    
}
.main-content {
    background-color: #42C3C9;
    border-radius: 10px;
    display: inline-flex;
    min-height: 200px;
}
.editDelete {
    margin-left: 10%;
    display: inline;
}
.editDelete form{
    margin-left: 10%;
}
.header-right {
    /*float: right;*/
    
    /*background-color: red;*/
}
.header-right p{
    float: right;
}
.header-right a{
    float: right;
    margin-left: 5%;
}
.recentItems {
    margin-left: 10%;
}
.thirdParty {
    margin-left: 10%;
}
.g-signin2 {
    margin-top: 20%;
}
.showUsers {
    margin-left: 10%;
}
.requestedCategory {
    margin-left: 10%;
}
.divider.blue {
    background-color: #42C3C9;
    height: 10px;
}

.container {
    width: 100%;
    
}

.header-left {
    display: inline-flex;
    /*background-color: blueviolet;*/
    line-height: 16px;
    
}
.header-left p {
    margin-left: 25%;
    font-size: 28;
    line-height: 16px;
}

.loginForm p{
    margin-bottom: 2%;
    margin-top: 2%;
}
.signinForm {
    margin-left: 10%;
}
.signinForm p{
    margin-bottom: 2%;
    margin-top: 2%;
    
}
.requestedCategory .grayText {
    
    color: gray;
}






body {
    background-color: beige;
}