<html>
    <head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="117697598600-cqmrdclt6di094ff3s6j5moj0sq38d4h.apps.googleusercontent.com">
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	</head>
    <body>
        <div class="container">
            <div class="row top-menu">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 header-left">
                    
                        <a href="{{url_for('getMainPage')}}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </a>
                        <p>Item catalog</p>
                    
                    
                </div>
                <div class="col-lg-5 text-right">
                    
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row divider blue">
                <div class="col-lg-12"></div>
            </div>
                <div class="row content">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 main-content">                    
                        <div class="categories">
                            <h3>Log in:</h3>
                            <form method="POST" action="/existingUser?state={{STATE}}">
                                <p>Username:</p>
                                    <input name="username" type="text" placeholder="username"><br>
                                        
                                <p>Password:</p>
                                    <input name="password" type="text" placeholder="Password"><br>
                                    <input type="submit" value="Submit">
                            </form>                                     
                        </div>    
                        <div class="recentItems">
                            <h3>Sign up:</h3>
                            <form method="POST" action="/newUser?state={{STATE}}">
                                <p>Username:</p>
                                    <input name="username" type="text" placeholder="username"><br>
                                    
                                <p>Password:</p>
                                    <input name="password" type="text" placeholder="Password"><br>
                                    <input type="submit" value="Submit">
                            </form>                                   
                        </div>
                        <!-- GOOGLE PLUS SIGN IN-->
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        <script>
                            function onSignIn(googleUser) {
                                var profile = googleUser.getBasicProfile();
                                var id_token = googleUser.getAuthResponse().id_token;
                                
                                $.ajax({
                                    type: 'POST',
                                    url: '/googleConnect?state={{STATE}}',
                                    processData: false,
                                    data: id_token,
                                    contentType: 'application/octet-stream; charset=utf-8',
                                    success: function() {
                                        // directly log out from google server to avoid auto log in 
                                        // if no user is logged in and you navigate to th end point /login
                                        var auth2 = gapi.auth2.getAuthInstance();
                                        auth2.signOut();
                                        // redirect to main end point /
                                        window.location.href = "/";
                                        

                                    }  
                                });
                                
                            }
                                
                                
                            
                        </script>
                        
                        
                        
                        
                        <!--END GOOGLE PLUS SIGN IN -->
                        </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>

        </div>
        
    </body>
</html>