<html>
    <head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
    <body>
        <div class="container">
            <div class="row top-menu">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 header-left">
                    
                        <a href="{{url_for('getMainPage')}}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </a>
                        <p>Item catalog</p>
                    
                    
                </div>
                <div class="col-lg-5 text-right">
                    <a href="{{url_for('getMainPage')}}">Click Here to Log in </a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row divider blue">
                <div class="col-lg-12"></div>
            </div>
            {% if parts !=[] %}
                <div class="row content">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 main-content">
                    
                        <div class="categories">
                            <h3>Categories:</h3>
                            {% for i in categories %}
                                <a href="{{url_for("getCategory", category_id = i.id )}}">
                                    <p>{{i.name}}</p>

                                </a>
                            {% endfor %}
                        </div>
                        <div class="recentItems">
                            <h3>Latest items:</h3>
                            {% for i in latestParts %}
                                <a href="{{url_for("getPart", category_id = i.category_id, part_id = i.id)}}">
                                    <p>{{i.name}}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            {% endif %}
            </div>

        </div>
        
    </body>
</html>